/**
 * blogItem styles
 * Loads on front end and back end
 */
.ps-block-blogItem {
  background: #f2f2f2;
  color: #293038;
  margin: 0 auto;
  padding: 5%;
  border-radius: 5px;
  margin-bottom: 1.2em; }
  .ps-block-blogItem .ps-blogItem-info {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    min-height: 55px;
    padding-top: 5px;
    line-height: 1.4; }
  .ps-block-blogItem .ps-blogItem-info .blocks-editable {
    padding-left: 0; }
  .ps-block-blogItem .ps-blogItem-info .ps-blogItem-avatar-wrap {
    position: absolute;
    left: 0;
    top: 0; }
  .ps-block-blogItem .ps-blogItem-avatar-wrap + .ps-blogItem-name,
  .ps-block-blogItem .ps-blogItem-avatar-wrap + .ps-blogItem-name + .ps-blogItem-title,
  .ps-block-blogItem .ps-blogItem-avatar-wrap + .ps-blogItem-title,
  .ps-block-blogItem .ps-blogItem-avatar-wrap + .editor-rich-text,
  .ps-block-blogItem .ps-blogItem-avatar-wrap + .editor-rich-text + .editor-rich-text {
    margin-left: 70px;
    padding-left: 0; }
  .ps-block-blogItem .ps-blogItem-text p {
    line-height: 1.6; }
  .ps-block-blogItem .ps-blogItem-text a {
    color: inherit;
    box-shadow: 0 -1px 0 inset;
    text-decoration: none; }
    .ps-block-blogItem .ps-blogItem-text a:hover {
      color: inherit;
      box-shadow: 0 -2px 0 inset; }
  .ps-block-blogItem .ps-blogItem-name {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    padding: 0; }
  .ps-block-blogItem .ps-blogItem-title {
    opacity: .8; }
  .ps-block-blogItem .ps-blogItem-avatar {
    border-radius: 200px;
    max-width: 100px; }
  .ps-block-blogItem .ps-blogItem-image-wrap {
    height: 55px;
    width: 55px;
    background: #ddd;
    border-radius: 200px;
    position: relative; }
    .ps-block-blogItem .ps-blogItem-image-wrap button {
      position: absolute;
      left: 19px;
      top: 16px;
      z-index: 50;
      padding: 0; }
    .ps-block-blogItem .ps-blogItem-image-wrap button:focus {
      background: none;
      border: none;
      outline: none;
      box-shadow: none; }
    .ps-block-blogItem .ps-blogItem-image-wrap img {
      -o-object-fit: cover;
         object-fit: cover;
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 10;
      border-radius: 40px;
      z-index: 5; }

#editor .ps-has-avatar .ps-blogItem-image-wrap button {
  top: 0;
  left: 0;
  opacity: 1 !important;
  height: 100%; }

#editor .ps-has-avatar .ps-blogItem-image-wrap:hover {
  cursor: pointer; }
  #editor .ps-has-avatar .ps-blogItem-image-wrap:hover img {
    opacity: .7; }
  #editor .ps-has-avatar .ps-blogItem-image-wrap:hover button {
    opacity: 1; }

.right-aligned .ps-blogItem-info {
  text-align: right; }
  .right-aligned .ps-blogItem-info h2 {
    left: 0; }
  .right-aligned .ps-blogItem-info .ps-blogItem-name,
  .right-aligned .ps-blogItem-info .ps-blogItem-title {
    margin-right: 70px;
    margin-left: 0; }
  .right-aligned .ps-blogItem-info .ps-blogItem-avatar-wrap {
    left: auto;
    right: 0; }

/*# sourceMappingURL=blocks.style.css.map*/